* {
  color: #bab7b5;
}

nav {
  background-color: #424141;
  
}

.nav-logo {
  background-color: back;
}


.hero {
  display: block;
}
section {
  background-color: black;
}

footer {
  background-color: #424141;
}